@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pl-160 {
  padding-left: 160px;
}

/*Members Cards CSS*/

.Member_hover {
  transition: transform;
  transition-timing-function: cubic-bezier(.08, .82, .17, 1);
  transition-duration: 1s;
}

.Member_hover:hover {
  color: white;
  cursor: pointer;

  transform: scale(1.1);
}

.Member_hover:hover h2 {
  color: white;
}

.Member_hover:hover svg {
  fill: white;
}



/*Course CSS*/

.course_hover:hover {
  transition: transform,color;
  transition-duration: 0.5s;
  transform: scale(0.95);
  cursor: pointer;

}


/*Navbar Css*/

.slideInRight {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    transform: translateX(0);
  }
}

  /*Social Media Icon Animation*/

  .icon{
    display: inline-block;
    font-size: 44px;
    animation: float 5s ease-in-out infinite;
  }
  .insta{
    animation-delay: 1s;
  }

.linkdin{
  animation-delay: 2s;
}

@keyframes float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0);
  }
}


/* Team-card_icons css */
.team-card_icon_twitter:hover{
  transition: all ease-in-out 0.2s;
  transform: scale(1.1);
  fill: #00acee;
}
.team-card_icon_linkedin:hover{
  transition: all ease-in-out 0.2s;
  transform: scale(1.1);
  fill: #0e76a8;
}
.team-card_icon_github:hover{
  transition: all ease-in-out 0.2s;
  transform: scale(1.1);
  fill: #171515;
}

.team-card_icon_email:hover{
  transition: all ease-in-out 0.2s;
  transform: scale(1.1);
  fill: #c71610;
}

.member-card{
  transition: all ease-in 0.2s;

}

.member-card::after{
  content: '';
  margin-top: 10px;
  height: 5px;
  width: 0%;
  background-color: black;
  display: block;
  transition: .5s ease-in-out;
}

.member-card:hover::after{
  content: '';
  height: 5px;
  margin-top: 10px;
  width: 100%;
  background-color: black;
  display: block;
  transition: .5s ease-in-out;
}

/* blog button css */
.blog-buttons {
  border-color: #182A59;
  color: #000;
  background-image: linear-gradient(45deg, #182A59 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: all 0.5s ease-in-out;
}
.blog-buttons:hover {
  background-position: 0;
  color: #fff;
}

.blog-card{
  transition: all ease-in-out 0.2s;
}

.blog-card:hover{
  transition: all ease-in-out 0.2s;
  transform: scale(1.05);
}


.back::after{
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  display: block;

  background-image: url('/src/imgs/background-1.svg');
  background-size: cover;
  animation: animate 10s linear infinite;
  z-index: -1;
  opacity: 0.4;
  border-radius: 10%;
  animation-delay: 5s;
  bottom: -500vh;
}
.back2::after{
  content: '';
  position: absolute;
  height: 50px;
  width: 50px;
  display: block;
  background-image: url('/src/imgs/background-1.svg');
  background-size: cover;
  animation: animate 15s linear infinite;
  z-index: -1;
  opacity: 0.4;
  border-radius: 50%;
  left: 20%;
  animation-delay: 4s;
  bottom: -500vh;
}
.back3::after{
  content: '';
  position: absolute;
  height: 50px;
  width: 50px;
  display: block;

  background-image: url('/src/imgs/background-1.svg');
  background-size: cover;
  animation: animate 20s linear infinite;
  z-index: -1;
  opacity: 0.4;
  border-radius: 10%;
  left: 40%;
  animation-delay: 3.5s ;
  bottom: -500vh;
}
.back4::after{
  content: '';
  position: absolute;
  height: 50px;
  width: 50px;
  display: block;

  background-image: url('/src/imgs/background-1.svg');
  background-size: cover;
  animation: animate 20s linear infinite;
  z-index: -1;
  opacity: 0.4;
  border-radius: 50%;
  animation-delay: 3s;
  left: 50%;
  bottom: -500vh;
}
.back5::after{
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  background-image: url('/src/imgs/background-1.svg');
  background-size: cover;

  display: block;

  animation: animate 20s linear infinite;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.4;
  right: 20%;
  animation-delay: 2s;
  bottom: -500vh;
}
.back6::after{
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  display: block;
  background-image: url('/src/imgs/background-2.svg');
  background-size: cover;
  animation: animate 20s linear infinite;
  opacity: 0.4;
  z-index: -1;
  border-radius: 10%;
  animation-delay: 6s;
  float: right;
  bottom: -500vh;
}
.back7::after{
  content: '';
  opacity: 0.4;
  position: absolute;
  height: 80px;
  width: 80px;
  display: block;
  background-image: url('/src/imgs/background-3.svg');
  background-size: contain;
  background-repeat: no-repeat;
  animation: animate 20s linear infinite;
  z-index: -1;
  border-radius: 10%;
  animation-delay: 6s;
  right: 20px;
  bottom: -500vh;
}


@keyframes animate {

  0%{
      transform: translateY(0px) rotate(0deg);
      opacity: 0.8;

  }

  100%{
      transform: translateY(-5000px) rotate(0deg);
      opacity: 0.5;

  }

}

.scale-up-tr {

	        animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation-direction: alternate-reverse;
          animation-duration: 2s;
          animation-iteration-count: infinite;
}

@keyframes scale-up-tr {
  0% {
            transform: scale(0.9);
            transform-origin: 100% 0%;
  }
  100% {

            transform: scale(1);
            transform-origin: 100% 0%;
  }
}


.scale-up-bottom {
          animation: scale-up-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation-direction: alternate-reverse;
          animation-duration: 2s;
          animation-iteration-count: infinite;
}

@keyframes scale-up-left {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}


html{
  scroll-behavior: smooth;
}


/*Drop Down*/

.dropdown{
  display: none;
}

.dropdown-header:hover{
  cursor: pointer;
}
.dropdown{
  animation-name: slideInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.dropdown-header:hover .dropdown{
  display: block;
}

.Arrowdown{
  transform: rotate(-90deg);
}
.dropdown-header:hover .Arrowdown{
  transform: rotate(0deg);
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    transform: translateX(0);
  }
}