@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F8FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pl-160 {
  padding-left: 160px;
}

/*Members Cards CSS*/

.Member_hover {
  transition: transform;
  transition-timing-function: cubic-bezier(.08, .82, .17, 1);
  transition-duration: 1s;
}

.Member_hover:hover {
  color: white;
  cursor: pointer;

  transform: scale(1.1);
}

.Member_hover:hover h2 {
  color: white;
}

.Member_hover:hover svg {
  fill: white;
}



/*Course CSS*/

.course_hover:hover {
  transition: transform,color;
  transition-duration: 0.5s;
  transform: scale(0.95);
  cursor: pointer;

}


/*Navbar Css*/

.slideInRight {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    transform: translateX(0);
  }
}

  /*Social Media Icon Animation*/

  .icon{
    display: inline-block;
    font-size: 44px;
    animation: float 5s ease-in-out infinite;
  }
  .insta{
    animation-delay: 1s;
  }

.linkdin{
  animation-delay: 2s;
}

@keyframes float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0);
  }
}


/* Team-card_icons css */
.team-card_icon:hover{
  transition: all ease-in-out 0.2s;
  transform: scale(1.1);
  fill: #9082EC;
}

.member-card{
  transition: all ease-in 0.2s;

}
